<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Console output -->

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="*-- TIME: [%d] --* %nCategory: %c%nPriority: %p%nMethod:   %M%nMsg:      %m%n%n%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="INFO" />
		</filter>
	</appender>



	<logger name="java.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="onlysql"/> 
	</logger>
	
	<logger name="org.apache.catalina.core.ContainerBase" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="onlysql"/> 
	</logger>

	<logger name="httpclient.wire" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.apache.commons" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="net.sf.ehcache" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="com.csc.dpcgis" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="file"/>
	</logger>

	<root>
		<priority value="debug"></priority>
		<appender-ref ref="file" />
		<appender-ref ref="mail"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>