<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Console output -->

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="*-- TIME: [%d] --* %nCategory: %c%nPriority: %p%nMethod:   %M%nMsg:      %m%n%n%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="DEBUG" />
		</filter>
	</appender>

	<appender name="onlysql" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="false"/>
		<param name="File" value="gmaps-sql.log" />
		<param name="threshold" value="info"/>
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<!-- The file to roll to, this is a fairly intelligent parameter, if the file
				 ends in .gz, it gzips it, based on the date stamp it rolls at that time,
				 default is yyyy-MM-dd, (rolls at midnight)
				 See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
			<param name="FileNamePattern" value="/project/dpcgisprd/jakarta/logs/gmaps.%d.log.gz" />
		</rollingPolicy>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d{ISO8601} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>


	<appender name="file" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="false"/>
		<param name="File" value="gmaps-out.log" />
		<param name="threshold" value="info"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d{ISO8601} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="mail" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPHost" value="${mailhost}" />
		<param name="From" value="system@gmaps.com" />
		<param name="To" value="psukumaran@csc.com" />
		<param name="Subject" value="[LOG] GMAPS Exception Log" />
		<param name="BufferSize" value="1" />
		<param name="threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d{ISO8601} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="java.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="onlysql"/> 
	</logger>

	<logger name="httpclient.wire" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.apache.commons" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="net.sf.ehcache" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
	</logger>

	<logger name="com.csc.dpcgis" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="file"/>
	</logger>

	<root>
		<priority value="debug"></priority>
		<appender-ref ref="file" />
		<appender-ref ref="mail"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>